body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    background: transparent;
}

input {
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.fname, .lname, .email {
    margin-bottom: 10px;
}

.email > label {
    margin-right: 40px;
}

.form-model {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    width: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

textarea {
    outline: none;
    font-family: 'Anonymous Pro', monospace;
}

button {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    filter: blur(5px);
    box-shadow: 0 0 200px #57527E;
    background: #57527E url(../images/vr.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-filter: blur(5px);
}

@media (max-width: 620px) {
    .form-model {
        width: 300px;
    }
}
